/* La police doit être chargée en local toute nouvelles police doit être placée dan répertoire fonts*/
@font-face {
  font-family: "Open Sans Light";
  src: local("Open Sans Light"), local("OpenSans-Light"), url("fonts/OpenSans.woff") format("woff");
}
/* La police utilisée par Microsoft dans Windows 8/10 */
/* Version normal */
@font-face {
    font-family: "Segeo UI";
    src: url("fonts/segoeui.ttf");
}
/* Version light */
@font-face {
    font-family: "Segeo UI Light";
    src: url("fonts/segoeuil.ttf");
}


strong
{
    display: block;
}

/* Couleur :
    fond -> bleu
    texte -> blanc
*/
body
{
    background-color: #1965B3;
    color: white;
}

    
header
{
    background-color: #1965B3;
}


h1
{
    color: white;
}

/* La police propre au smiley */
#smiley
{
    font-family: "Segeo UI";
    font-size: 10em;
    color : white;
}
/* La police pour le reste du texte */
p
{
    font-size: 1.5em;
    font-family: "Segeo UI Light";
    color: white;
}
