strong
{
    display: block;
}

/* Couleur :
    fond -> bleu
    texte -> blanc
*/
body
{
     font-size: 1.5em;
    font-family: "Arial";
    color: white;
    background-color: #1965B3;
    color: white;
}

    
header
{
    background-color: #1965B3;
}

/* La police pour le reste du texte */

#chrome
{
    display: inline-block;
    padding-right: 5em;
}
#firefox
{
    display: inline-block;
}
img
{
    padding-left: 5em;
    width: 10em;
    height: 10em;
}
